<h1>Directives Works!</h1>

<div>
  <h2>There are three type of directives</h2>
  <strong>
    1. Component Directives
  </strong>
  <br>
  <strong>
    2. Structure Directives
  </strong>
  <br>
  <strong>
    3. Attribute Directives
  </strong>
</div>

<div class="row text-center">

    <div class="col-12 m-3">
<b>Example of *ngIf vs &#64;If()</b>
    </div>
</div>

<div class="row text-center">

    <div class="col-4">
        <div (click)="onClick()">
<input type="checkbox" >Terms and condition
        </div>
        <div *ngIf="isChecked">
<button class="btn btn-success">submit</button>

        </div>
    </div>
      <div class="col-4">
        <div *ngIf="isInputField">
          <input type="text" value="learning angular">
        </div>
<button class="btn btn-primary m-2" (click)="show()">show</button>
<button class="btn btn-danger" (click)="hide()">hide</button>

    </div>
      <div class="col-4">
<input type="text" [(ngModel)]="inputValue1"> <br>
<input type="text" [(ngModel)]="inputValue2">

<div *ngIf="inputValue1 === inputValue2">
  <h4>Both model is equal</h4>
</div>
<div *ngIf="inputValue1 !== inputValue2">
  <h4>Both model is not equal</h4>
</div>
        </div>

</div>

<!-- <app-data-binding></app-data-binding>  // this is for data binding component -->

